@page {
    width: 54mm;
    height: 100mm;
    padding: 2mm;
}
.print-area {
    height: 7mm;
    width: 100%;
    text-align: center;
}
img {
    height: 3mm;
    display: block;
    position: absolute;
}
.logo {
    margin-left: 1mm;
    margin-top: 5mm;
}
.datamatrix {
    image-rendering: pixelated;
    top: 1px;
    right: 1px;
}
.label {
    font-family: Arial, Verdana, Helvetica, sans;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    font-size: 7px;
}