<span class='batch'>
    {{ batch }} <br/>
</span>


<span class='embotellamiento'>
    {{ vacio }} <br/>
    {{ botl }} <br/>
    {{ vend }} <br/>
    {{ caja }} <br/>
</span>

<img src="{{label_tools.qr_code(sample_id)}}"/>