@page {
    width: 100mm;
    height: 54mm;
    padding: 2mm;
}
img {
    height: 20mm;
    width: 20mm;
    margin-left: 35mm;
    margin-top: 3mm;
    image-rendering: pixelated;
}
.batch {
    font-family: Verdana;
    font-weight: bold;
    margin-top: 1mm;
    margin-left: 10mm;
    font-size: 22px;
}
.embotellamiento {
    font-family: Verdana;
    font-weight: bold;
    margin-top: 20mm;
    margin-left: 2mm;
    font-size: 17px;
}