@page {
    width: 54mm;
    height: 100mm;
    padding: 2mm;
}
img {
    height: 10mm;
    margin-left: 1mm;
    margin-top: 20mm;
    display: inline-block;
    vertical-align: middle;
    image-rendering: pixelated;
}