<img src="{{label_tools.qr_code(sample_id)}}"/>
<span class='label'>
    {{ sample_name }} <br/>
    Hecho por Netnovation <br/>
    Hecho por Netnovation <br/>
    Hecho por Netnovation <br/>
    Hecho por Netnovation <br/>
    Hecho por Netnovation <br/>
    Hecho por Netnovation <br/>
    Hecho por Netnovation <br/>
    Hecho por Netnovation <br/>
    Hecho por Netnovation <br/>
    Hecho por Netnovation <br/>
    Hecho por Netnovation <br/>
    Hecho por Netnovation <br/>
    Hecho por Netnovation <br/>
    Hecho por Netnovation <br/>
    Hecho por Netnovation <br/>
    Hecho por Netnovation <br/>
    Hecho por Netnovation <br/>
    Hecho por Netnovation <br/>
    Hecho por Netnovation <br/>
    Hecho por Netnovation <br/>
    Hecho por Netnovation <br/>
    Hecho por Netnovation <br/>
    Hecho por Netnovation <br/>
    {{ label_tools.now() }}
</span>